{% extends "base.html" %}

{% block title %}Doctors{% endblock %}

{% block doctor_active %}class="active"{% endblock %}

{% block heading %}Doctors{% endblock %}

{% block cancel_action %}{% url doctor %}{% endblock %}

{% block table_header %}<td colspan=2><strong>Doctor Name</strong></td>{% endblock %}

{% block table_row %}
<td>{{ item.name }}</td>
<td align="right">
	<a href="{% url appointments_for_doctor item.id %}"><img src="{{ STATIC_URL }}img/icon_calendar.gif"></a>
	<a href="{% url doctor_edit item.id %}"><img src="{{ STATIC_URL }}img/icon_changelink.gif"></a>
	<a href="{% url doctor_delete item.id %}"><img src="{{ STATIC_URL }}img/icon_deletelink.gif"></a>
</td>
{% endblock %}
