body {
  padding: 10px;
}

.items_header {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.items_table {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  width:600px;
}

.main_content {
  margin: 50px 50px 50px 50px;
}

.specific_content {
  margin: 20px 20px 20px 20px;
}

.icon_column {
  width:20px;
}

.id_message {
  align:right;
  padding: 2px;
}